@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
h1{
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
  font-size: 3rem;
}
h2,p{
  color: #658ec6;
  font-weight: 600;
  opacity: 0.8;
}
h3{
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}
main{
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass{
  margin: 50px;
  background: white;
  min-height: 80vh;
  width: 80%;
  background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8));
  border-radius: 20px;
  z-index: 5;
  backdrop-filter: blur(2rem);
}
.user{
  margin-top: 1rem;
}
.circle1, .circle2{
  height: 200px;
  width: 200px;
  background: linear-gradient(to right bottom,rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
  position: absolute;
  z-index: 2;
  border-radius: 50%;
}
.circle1{
  top: 5%;
  right: 10%;
}
.circle2{
  bottom: 5%;
  left: 10%;
}

.glass{
  display: flex;

}
.dashboard{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8));
  border-radius: 20px;

}
.games{
  flex: 2;
}

.link{
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}

.link h2{
  padding: 0rem 2rem;
}

.pro{
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  margin: 2rem;
  align-items: center;
  color: white;
}

.pro h2{
  color: white;
}

/* GAMES  */
.games{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  margin: 2rem;
}

.status input{
  background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8));
border: none;
padding: 0.5rem;
width: 50%;
border-radius: 0.5rem;
}
.card{
  display:flex;
  background: linear-gradient(to left top, rgba(255, 255, 255, 1) ,rgba(255, 255, 255, 0.2));
  margin: 2rem 0rem;
  padding: 1rem;
  border-radius: 1rem;
  justify-content: space-between;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}
.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.progress{
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  width: 100%;
  height: 25%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(236, 236, 236);
  position: absolute;
  left: 60%;
}
.percentage {
  font-weight: bold;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}